{{> header}}
<div class="content">
        <section class="js">
            <h2>JavaScript</h2>
            <div class="articles">
                {{#each articlesJS}}
                    {{> article}}
                {{else}}
                    {{> noArticlesMsg}}
                {{/each}}
            </div>
        </section>
        <section class="CSharp">
            <h2>C#</h2>
            <div class="articles">
                {{#each articlesCS}}
                    {{> article}}
                {{else}}
                    {{> noArticlesMsg}}
                {{/each}}
            </div>
        </section>
        <section class="Java">
            <h2>Java</h2>
            <div class="articles">
                {{#each articlesJ}}
                    {{> article}}
                {{else}}
                    {{> noArticlesMsg}}
                {{/each}}
            </div>
        </section>
        <section class="Pyton">
            <h2>Pyton</h2>
            <div class="articles">
                {{#each articlesP}}
                    {{> article}}
                {{else}}
                    {{> noArticlesMsg}}
                {{/each}}
            </div>
        </section>
</div>
{{> footer}}